In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('data/data.csv')

In [6]:
df.head(-5)

,area,adress,price,price_per_sqm,monthly_fee,size_in_sqm,date_sold
0,Södermalm,"Götgatan 128, 3tr",4850000,74615,2798.0,65,2023-02-03
1,Årsta,Möckelvägen 32,2650000,63095,3281.0,42,2023-02-03
2,Södermalm,Heleneborgsgatan 30,4500000,97826,2451.0,46,2023-02-02
3,Östermalm,"Körsbärsvägen 10, 5tr",5025000,94811,2664.0,53,2023-02-02
4,Vasastan,"Anna Steckséns Gata 15, 10 tr",4900000,128947,2387.0,38,2023-02-02
...,...,...,...,...,...,...,...
2130,Fredhäll,Rålambsvägen 52,4150000,97647,2244.0,42,2022-02-14
2131,Vasastan,Rörstrandsgatan 27,5035000,125875,1364.0,40,2022-02-14
2132,Årsta,Tämnarvägen 36,3550000,64545,3057.0,55,2022-02-14
2133,Fredhäll,"Adlerbethsgatan 15, 2tr",4700000,102174,2630.0,46,2022-02-13
2134,Vasastan,"Vanadisvägen 4, 2tr",6200000,89855,2526.0,69,2022-02-12